.block{
    display: block;
}

.btn{
    position: relative;
    top:50px;
}
.removebtn{
   position: absolute;
   bottom: 20px;
}
.myform{
    
    left:100px;
    width: 50%;
}
.myTable{
    position: relative;
    top:100px;
    width: 100%;
}