<div class="myform">
<mat-card-content  *ngIf="showtable">
  <form class="my-form" (ngSubmit)="onSubmit(f)" #f="ngForm">
    
     <!--First Name-->
     <mat-form-field class="full-width block">
            <mat-label>First Name</mat-label>
            <input  matInput  placeholder="First name"  [(ngModel)]="firstName" name="firstName"  required>
         </mat-form-field>

      <!--Last Name-->  
         <mat-form-field class="full-width block">
            <mat-label>Last Name</mat-label>
            <input  matInput  placeholder="Last Name"  [(ngModel)]="lastName" name="lastName"  required>
         </mat-form-field>
         <mat-form-field class="full-width block">
            <mat-label>Address</mat-label>
            <input  matInput  placeholder="Address" [(ngModel)]="address" name="address"  required>
         </mat-form-field>
         <mat-form-field class="full-width block">
            <mat-label>Email</mat-label>
            <input  matInput  placeholder="Email" [(ngModel)]="email" name="email" required>
         </mat-form-field>

         <mat-form-field class="full-width block">
          <mat-label>Phone</mat-label>
          <input  matInput  placeholder="Email" [(ngModel)]="phone" name="phone" required>
       </mat-form-field>
         <mat-radio-group [(ngModel)]="gender" name="gender">
            <mat-label>Gender</mat-label>
            <mat-radio-button class="example-margin" value="Male">Male</mat-radio-button>
            <mat-radio-button class="example-margin" value="Female">Female</mat-radio-button>
            <mat-radio-button class="example-margin" value="Other">Other</mat-radio-button>
          </mat-radio-group>
        <div class="btn" *ngIf="showtable">
          <button  type="submit" [disabled]="!f.valid"> Submit</button>
        </div>
  </form>
</mat-card-content>
<button mat-raised-button color="primary" class="btn" (click)="enableSubmit()" *ngIf="!showtable">Add New Form Entry</button>

</div>


<div>
<table mat-table [dataSource]="dataSource" class="myTable"   >

    <ng-container matColumnDef="select">
        <th mat-header-cell *matHeaderCellDef>
          <mat-checkbox (change)="$event ? masterToggle() : null"
                        [checked]="selection.hasValue() && isAllSelected()"
                        [indeterminate]="selection.hasValue() && !isAllSelected()">
          </mat-checkbox>
        </th>
        <td mat-cell *matCellDef="let row">
          <mat-checkbox (click)="$event.stopPropagation()"
                        (change)="$event ? selection.toggle(row) : null"
                        [checked]="selection.isSelected(row)">
          </mat-checkbox>
        </td>
      </ng-container>
    
    <ng-container matColumnDef="First Name">
      <th mat-header-cell *matHeaderCellDef>First Name </th>
      <mat-cell *matCellDef="let element" [satPopoverAnchorFor]="p" (click)="p.open()" class="namecontainer">
          <ng-container *ngIf="element.firstName" >
            {{element.firstName}}
          </ng-container>
          <span class="add-comment" *ngIf="!element.firstName">
              {{element.firstName}}         
           </span>

          <sat-popover #p
              hasBackdrop
              xAlign="start"
              yAlign="start"
              (closed)="update(element,'firstName', $event)">
            <inline-edit [value]="element.firstName"></inline-edit>
          </sat-popover>
        </mat-cell>
    </ng-container>
  
    <!-- Last Name Column -->
    <ng-container matColumnDef="Last Name">
      <th mat-header-cell *matHeaderCellDef> Last Name </th>
      <td mat-cell *matCellDef="let element"> {{element.lastName}} </td>
    </ng-container>
  
    <!-- Address Column -->
    <ng-container matColumnDef="Address">
      <th mat-header-cell *matHeaderCellDef> Address </th>
      <td mat-cell *matCellDef="let element"> {{element.address}} </td>
    </ng-container>
  
    <!--Phone No-->
    <ng-container matColumnDef="Phone">
      <th mat-header-cell *matHeaderCellDef> Phone  </th>
      <td mat-cell *matCellDef="let element"> {{element.phone}} </td>
    </ng-container>

    <!-- Email Column -->
    <ng-container matColumnDef="Email">
      <th mat-header-cell *matHeaderCellDef> Email </th>
      <td mat-cell *matCellDef="let element"> {{element.email}} </td>
    </ng-container>

    <!--Gender Column-->
    <ng-container matColumnDef="Gender">
        <th mat-header-cell *matHeaderCellDef> Gender </th>
        <td mat-cell *matCellDef="let element"> {{element.gender}} </td>
      </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

  </table>
  <div class="removebtn">
      <button mat-raised-button color="primary" (click)="removeSelectedRows()">Remove Row Entry</button>
  </div>

</div>
